@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --midground: #CCCCCC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --midground: #333333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bodyish {
  color: var(--foreground);
  background: var(--background);
}

select {
  background: var(--midground);
}

.midground-pane {
  background: var(--midground);
}

.inverted {
	color: var(--background);
  	background: var(--foreground);
  	font-family: Arial, Helvetica, sans-serif;
}

.outline-solid-fixed {
  outline-style: solid;
}